.bg-1 { 
    background-color: #fcf9cf; 
    color: #7c7b66;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-fluid #bible-img{
    width: 30%;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    height:130px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.navbar-header #logo-img{
    height: 350%;
    width: 40%;
    margin-bottom: 20px;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

