html { 
    background: #fcf9cf no-repeat center center fixed; 
}

body {
    color: #7c7b66;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1#app-name {
    font-size:84px;
}

button#refreshbtn {
    display:none;
}

img#selected-img{
    width:150px;
    height:150px;
    padding:20px;
    display:none;
    margin: 0 auto;
}

h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    padding: 20px 0;
}

input#my-file-selector {
    display:none;
}